*.exp
*.pdb
bin/*.dll
*.xml
*.exe
bin/*.lib
bin/Source/VestiViz/x64
bin/Source/VestiViz/.vs
bin/Source/VestiViz/VestiViz/x64
bin/Source/VestiViz/VestiViz/Release
bin/Source/VestiViz/VestiViz/*.user
bin/Source/VestiViz/Test/*.user
bin/Source/VestiViz/Test/x64
bin/Source/VestiViz/LuaTest/*.user
bin/Source/VestiViz/LuaTest/x64
bin/Source/VestiViz/FilterTL/x64
bin/Source/VestiViz/FilterTL/Release
bin/Source/VestiViz/FilterTL/*.user
/bin/Source/Lua515/lib/Debug/lua5.1.dll
/bin/Source/Lua515/lib/Release/lua5.1.dll
